<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.pubs">

    <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->

    <!-- to get location using NETWORK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- to get location using GOOGLE PLUS -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <application
        android:allowBackup="true"
        android:name="com.app.pubs.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">


            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>

        <activity
            android:name=".Registration"
            android:screenOrientation="portrait">
        </activity>

        <!-- Search results activity -->
        <activity android:name=".SearchResultsActivity"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.app.pubs.EventDetails"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name="com.app.pubs.Rating"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.app.pubs.Booking"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name="com.app.pubs.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings" />

        <activity
            android:name="com.app.pubs.BookingHistory"
            android:configChanges="orientation|screenSize"
            android:label="@string/guest_list" />
        <activity
            android:name="com.app.pubs.ShareApp"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu_share" />

        <activity
            android:name="com.app.pubs.NearBy"
            android:configChanges="orientation|screenSize" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>